body {
  overflow-x: hidden;
}

/* Header  */
.admin-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  padding: 0 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.dashboard_bar {
  color: #111;
}
.dashboard_bar span {
  color: #ff6746;
}
/* Sidebar */
.sidebar {
  position: fixed;
  top: 65px;
  left: 0;
  width: 200px;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  background: #fff;
  padding-top: 20px;
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}

.sidebar ul li a {
  color: #686969;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  border-radius: 14px;
}

.sidebar ul li a.active {
  /* background: #1362fc; */
  background: linear-gradient(45deg, #ff6d59 0%, #ffd584 100%);
  color: #fff;
  border-radius: 14px;
}
/* .sidebar ul li a:hover.active{
  color: #ff6d59;
  background: #ff6c592b;
} */
.sidebar ul li a.active:hover {
  color: #fff;
}
.sidebar ul li a:hover {
  color: #ff6d59;
  /* background: #ff6c592b; */
}
.sidebar ul li a:hover i {
  -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-top 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.sidebar ul li a span {
  margin-left: 10px;
}
.sidebar .submenu {
  background-color: #f3f1f1;
  border-radius: 15px;
}
.sidebar .submenu li a {
  padding: 5px 10px;
  margin-left: 10px;
}
.sidebar .submenu li a.active {
  background: none;
  color: #111 !important;
}
/* dark-night button  */

.header-right .notification_dropdown .nav-link {
  position: relative;
  color: red;
  background: #fff;
  background: #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0rem 0rem 0.25rem rgba(0, 0, 0, 0.153);
  line-height: 1;
  font-size: 20px;
}
/* Content */
.content {
  margin-left: 200px;
  padding: 80px 10px;
  transition: margin-left 0.3s ease-in-out;
  background-color: #f5f5f5;
}

/* custom cards  */
.custom-card-header {
  background-color: #fff;
  padding: 15px 13px;
  border-radius: 14px;
}
.custom-card {
  border: none !important;
  border-radius: 14px !important;
  padding-bottom: 5px;
}
.custom-card select.form-select,
.custom-card input.form-control {
  box-shadow: none !important;
  height: 45px;
  border-radius: 8px;
  font-size: 16px !important;
}
.custom-card textarea.form-control {
  box-shadow: none !important;
  border-radius: 8px;
}
.custom-card input.form-control::placeholder {
  font-size: 16px !important;
}
.card-header-custom {
  border-radius: 14px !important;
  padding: 12.5px !important;
}
.card-header-custom h5{
  font-size:19px;
}
.card-footer {
  border-top: none !important;
  background: none !important;
}

/* Custom buttons  */
.btn-radius-8 {
  border-radius: 10px !important;
}
.sharp {
  min-width: 2.1rem;
  padding: 0.4375rem;
  height: 2.1rem;
  min-height: 2.1rem;
  border-radius: 7px !important;
}
.light.btn-primary {
  background: rgb(19 98 252 / 10%);
  color: #1362fc;
  border-color: rgb(19 98 252 / 10%);
}
.light.btn-danger {
  background-color: #ffd4cb;
  border-color: #ffd4cb;
  color: #ff6746;
}
.light.btn-success {
  background-color: #c8f2d1;
  border-color: #c8f2d1;
  color: #37d159;
}
.light.btn-success:hover {
  background-color: #37d159;
  border-color: #37d159;
}
.light.btn-danger:hover {
  background-color: #ff6746;
  border-color: #ffd4cb;
}
.light.btn-primary:hover {
  background-color: #1362fc;
  border-color: rgb(19 98 252 / 10%);
}
/* Mobile */
.cursor-menu {
  display: none;
  cursor: pointer;
}
@media (max-width: 991px) {
  .cursor-menu {
    display: block;
  }
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .content {
    margin-left: 0;
  }

  .sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }
}

.tiptap-editor {
  min-height: 200px;
  cursor: text;
}

.ProseMirror {
  min-height: 200px;
  outline: none;
}

.ProseMirror p {
  margin: 0 0 10px;
}


/* Theme css  */

.theme-admin {
  padding: 30px;
  max-width: 1100px;
  margin: auto;
  background-color: #fff;
  border-radius: 14px;
}

.theme-admin h2 {
  text-align: center;
  margin-bottom: 25px;
}

.theme-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.color-card {
  background: #e0dfdfa5;
  padding: 15px;
  border-radius: 14px;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform .3s ease, box-shadow .3s ease;
}

.color-card:hover {
  transform: translateY(-6px) scale(1.03);
  /* box-shadow: var(--box-shadow2); */
}

.color-card span {
  color: #545353;
}

.color-card input {
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.theme-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.save-btn,
.reset-btn {
  padding: 10px 20px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all .3s ease;
}
.save-btn i,
.reset-btn i{
  margin-right: 10px;
}
.save-btn {
  background: #02c72c;
  color: #fff;
}

.save-btn:hover {
  background: #44db65;
  transform: scale(1.05);
}

.reset-btn {
  background: #d63031;
  color: #fff;
}

.reset-btn:hover {
  background: #ff7675;
  transform: scale(1.05);
}


/* Animation  */

@-webkit-keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
